.inner-box p{
    background-color: blue;
}
.inner-box li{
    background-color: blue;
}
.mi-box p{
    background-color: blue;
}
.box p{
    background-color: blue;
}

    .my-box p{
        background-color: blue;
    }